@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin "tailwindcss-motion";

:root {
  background: var(--color-bg-light);
  color: var(--color-bg-dark);
  font-family: var(--font-family-sans);
}

@theme {
  --color-bg-light: #efece6;
  --color-bg-dark: #000000;
  --color-btn-bg: #1a1a1a;
  --color-btn-border: #302f2f;
  --color-link-active: #0000ee;

  --font-family-sans: 'Inter', sans-serif;

  --shadow-header: 0px 6px 20px rgba(0, 0, 0, 0.1);

  --breakpoint-*: initial;
  --breakpoint-xs: 28rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}
